asgiref==3.12.1
Django==5.2.17
psycopg==3.3.5
psycopg-binary==3.3.5
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
waitress==3.0.2
reportlab==5.0.1
pillow==12.3.0
charset-normalizer==3.5.1
pypdf==6.18.0
whitenoise==6.12.0
pyotp==2.10.0
cryptography==50.0.1
qrcode==8.2
openpyxl==3.1.5
xlrd==2.0.2
defusedxml==0.7.1
